<html>
    <head>
        <title>
            Let's get it done byttchh
        </title>
        {%load static %}
        <script type="text/javascript" src="{% static 'js/dygraph-combined-dev.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-1.12.2.min.js'%}"></script>
    </head>
    <body>
        <div id="center">


        </div>
        <div id="center2"></div>
    </body>
    <script type="text/javascript">
        console.log(new Date());
        var plotemotion = [[10],[20]];
        {% for key,value in emotion.items %}
        console.log({{value}});
         plotemotion[0].push({{value}});
         plotemotion[1].push({{value}});
        {% endfor %}
        Graph = new Dygraph(document.getElementById("center"),plotemotion,{});

        function getEmotion(){
        $.ajax({url:"/replot", type:"get", success:function(response){
        console.log(response);
        document.getElementById("center2").innerHTML = {{emotion.Anger}}+1111;

        }
        });}
        setInterval(getEmotion,6000);

    </script>
</html>